*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	@include respond(tab-land) {
		// width < 1200?
		font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	@include respond(tab-port) {
		// width < 900?
		font-size: 50%; //1 rem = 8px, 8/16 = 50%
	}

	@include respond(big-desktop) {
		font-size: 75%; //1rem = 12, 12/16
	}
}

body {
	box-sizing: inherit;
	background-color: $dark-color;
	color: $light-color;

	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 1rem;
		background: $t-dark-color;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: $red-color;
	}
}

ul {
	list-style-type: none;
}

#app {
	position: relative;
	min-height: 100vh;
}

img {
	width: 100%;
}
