@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
	font-family: "Roboto";
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
a {
	font-family: "Raleway" !important;
	font-weight: 600;
}

p {
	letter-spacing: 0.9px;
}
