.nav-enter-active,
.nav-leave-active {
	transition: transform 0.3s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.3s linear;
}

.nav-enter-from,
.nav-leave-to {
	transform: translateX(100%);
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.4s linear;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}

.pop-enter-active,
.pop-leave-active {
	transition: transform 0.5s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.5s linear;
}

.pop-enter-from,
.pop-leave-to {
	opacity: 0;
	transform: scale(0.3);
}
