$spaceAmounts: (0, 1, 2, 3, 4, 5, 6, 7);

@each $space in $spaceAmounts {
	.m-#{$space} {
		margin: #{$space}rem;
	}

	.mx-#{$space} {
		margin: 0 #{$space}rem;
	}

	.my-#{$space} {
		margin: #{$space}rem 0;
	}

	.ml-#{$space} {
		margin-left: #{$space}rem;
	}

	.mr-#{$space} {
		margin-right: #{$space}rem;
	}

	.mb-#{$space} {
		margin-bottom: #{$space}rem;
	}

	.mt-#{$space} {
		margin-top: #{$space}rem;
	}

	.p-#{$space} {
		padding: #{$space}rem;
	}

	.px-#{$space} {
		padding: 0 #{$space}rem;
	}

	.py-#{$space} {
		padding: #{$space}rem 0;
	}

	.pl-#{$space} {
		padding-left: #{$space}rem;
	}

	.pr-#{$space} {
		padding-right: #{$space}rem;
	}

	.pb-#{$space} {
		padding-bottom: #{$space}rem;
	}

	.pt-#{$space} {
		padding-top: #{$space}rem;
	}
}

.ml-auto {
	margin-left: auto;
}

.text-bold {
	font-weight: 700;
}
