$dark-color: #141414;
$dark-color-1: lighten(#141414, 7%);
$t-dark-color: rgba($dark-color, 0.5);
$t-dark-color-1: rgba($dark-color, 0.7);
$grey-color: #8d8d8d;
$red-color: #e62e2d;

$light-color: #ededed;
$light-color-1: #cacaca;
$border-rad: 6px;
$gutter: 2.6rem;
$x-spacing: 4rem;
$m-x-spacing: 2rem;
$paragraph: 1.4rem;
$default-font-size: 1.6rem;
