.home {
	padding-bottom: 26rem;

	& > div:nth-child(3) {
		margin-top: -15rem;

		@include respond(tab-port) {
			// width < 900?
			margin-top: -25rem;
		}
	}

	.heading {
		height: 60vh;
		color: $grey-color;
		// padding: 2.4rem;
		display: flex;
		align-items: flex-end;

		&__content {
			// text-align: center;
			margin-left: 4rem;
			width: 50%;
		}

		&__title {
			font-size: 4rem;
			margin-bottom: 2.4rem;
		}

		&__overview {
			font-size: 1.8rem;
		}
	}
}

.fade-effect {
	position: relative;
	margin-top: -10rem;
	height: 10rem;
	background-image: linear-gradient(180deg, transparent, $dark-color);
	z-index: 100;
}
