.movie-details {
	position: relative;
	padding-bottom: 26rem;
	// max-width: 1366px;

	.heading {
		height: 100vh;
		width: 100%;
		padding: 0 $x-spacing;
		display: flex;
		justify-content: center;
		align-items: center;

		@include respond(tab-port) {
			// width < 900?
			padding: 0 $m-x-spacing;
		}
		&__tagline {
			font-style: italic;
			font-size: 1.8rem;
			letter-spacing: 1.6px;
			font-weight: 400;
		}
		&__container {
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			// height: 80%;
		}

		&__content {
			margin-top: 3rem;
			padding: 1rem;
			// min-width: 100%;

			@include respond(tab-port) {
				// width < 900?
				padding: 0;
			}
		}

		&__poster {
			min-width: 30rem;

			margin-right: 2rem;
			img {
				border-radius: $border-rad;
				box-shadow: rgba(132, 132, 146, 0.2) 0px 7px 29px 0px;
			}

			@include respond(tab-port) {
				// width < 900?
				display: none;
			}
		}

		&__title {
			font-size: 3rem;
			font-weight: 700;
			margin-bottom: 0.5rem;
			letter-spacing: 2px;
			text-shadow: 2px -2px 11px #110805;

			&--year {
				font-weight: 500;
				font-family: "Roboto";
			}
		}

		&__info {
			font-size: 1.8rem;
			margin-bottom: 1.6rem;
			color: $light-color-1;
			letter-spacing: 0;
			a {
				color: $light-color-1;
				text-decoration: none;
				font-weight: 500;

				&:hover {
					color: white;
				}
			}
		}

		&__genre {
			font-size: 1.6rem;
			display: flex;
			margin-bottom: 1.6rem;
			* {
				margin-right: 1rem;
				padding: 0.6rem 1.2rem;
				background-color: $t-dark-color-1;
				border-radius: 2rem;
			}
		}

		&__overview {
			letter-spacing: 1.2px;
			line-height: 1.4;
			font-size: $paragraph;
		}

		&__main-crew {
			// max-width: 80%;
			// display: flex;
			& > * {
				display: inline-block;
				margin-right: 8rem;
				margin-bottom: 2rem;
			}

			&__name {
				font-weight: 700;
				white-space: nowrap;
			}

			&__job {
				font-size: $paragraph;
				color: $light-color-1;
			}

			// justify-content: space-between;
			letter-spacing: 1.2px;
		}

		&__actions {
			display: flex;
			align-items: center;
			& > * {
				margin-right: 2rem;
			}
		}
	}
	&__more-info {
		ul {
			li {
				margin-bottom: 2rem;
				font-weight: 400;
				h4 {
					padding-bottom: 0.5rem;
				}
				span {
					color: $grey-color;
				}
			}
		}
	}

	&__links {
		display: flex;
		border-bottom: 1px solid rgb(46, 46, 46);
		padding-bottom: 2rem;

		a {
			color: $light-color;
			@include default-transition;
			&:hover {
				color: $red-color;
			}
		}
		& > * {
			margin-right: 1.5rem;
		}

		// margin-bottom: 2rem;
	}
	.row {
		margin-bottom: 2.5rem;
	}
}

.imdb-rating {
	display: flex;

	img {
		width: 46px;
	}
}

.grid {
	display: flex;

	& > .col:nth-child(1) {
		width: calc(77% - 3.5rem);
		margin-right: 3.5rem;
	}

	& > .col:nth-child(2) {
		padding: 4.5rem $x-spacing 0 0;
		width: 23%;
		padding-top: 4rem;
	}
}

.collection {
	// width: 300px;
	height: 450px;
	border-radius: $border-rad;
	display: flex;
	justify-content: center;
	align-items: center;

	&__title {
		font-size: 2.8rem;
		font-weight: 600;
		margin-bottom: 2rem;
	}

	&__content {
		text-align: center;
	}

	&__img {
		// width: 80%;
		margin: 0 auto;
	}
}
