.card {
	background-color: $dark-color-1;
	border-radius: $border-rad;
	// overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: auto;
	&__img {
		img {
			width: 100%;
			object-fit: cover;
		}
	}

	&__body {
		padding: 1rem;

		*:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	&__title {
		font-size: $paragraph;
		// font-weight: 400;
		@include default-transition;

		&--clickable {
			color: white;
			text-decoration: none;
			cursor: pointer;

			&:hover {
				color: $red-color;
			}
		}
	}

	&__sub-title {
		font-size: $paragraph;
		font-weight: 400;
	}
}
