.discover {
	position: relative;
	z-index: 1000;
	margin: 3rem 0;
	// background-color: orangered;
	// &::after {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	width: 5em;
	// 	height: 100%;
	// 	background-image: linear-gradient(to left, $dark-color, transparent);
	// }
	&__heading {
		font-size: 1.6rem;
		font-weight: 500;
		// border-bottom: 1px solid rgb(37, 37, 37);
		letter-spacing: 2px;

		margin: 0 0 0 $x-spacing;

		@include respond(tab-port) {
			// width < 900?
			margin: 0 0 0 $m-x-spacing;
		}
	}

	&--vote-average {
		color: $red-color !important;
	}

	&__poster-title {
		display: block;
		margin: 0.5em 0 0 0.2em;

		color: $light-color;
		@include default-transition;

		span {
			font-weight: 500;
		}

		&--clickable {
			text-decoration: none;

			&:hover {
				color: $red-color;
			}
		}
	}

	&__list {
		display: flex;
		overflow-x: scroll;
		padding: 3rem 0 3rem $x-spacing;

		@include respond(tab-port) {
			// width < 900?
			padding: 3rem 0 3rem $m-x-spacing;
		}

		@include modified-scrollbar;
	}

	&__poster {
		margin-right: $gutter;
		img {
			width: 16rem;
			border-radius: $border-rad;
			cursor: pointer;
			position: relative;
			box-shadow: rgba(132, 132, 146, 0.2) 0px 7px 29px 0px;
			@include default-transition;

			&:hover {
				transform: scale(1.1) rotate(-3deg);
				z-index: 100;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
					rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
			}
		}
	}
}
