.modal__backdrop {
	content: "";

	z-index: 10000;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: grayscale(1);
	backdrop-filter: grayscale(1);
}

.modal {
	position: fixed;
	background: $dark-color;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 78rem;
	height: 43.9rem;
	z-index: 10001;
	border-radius: $border-rad;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	@include respond(tab-port) {
		// width < 900?
		width: 92%;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(
			to right,
			$dark-color 25%,
			rgba(0, 0, 0, 0.01)
		);
	}

	&__body {
		height: 100%;
		* {
			position: relative;
			z-index: 1;
		}
	}

	&__content {
		margin: $x-spacing 0 0 $x-spacing;
		width: 45%;
		color: rgb(245, 245, 245);

		@include respond(tab-port) {
			// width < 900?
			width: 80%;
		}

		&__info {
			color: $grey-color;
		}

		&__title {
			font-size: 2.8rem;
			font-weight: 700;
			margin-bottom: 2rem;
		}

		&__overview {
			letter-spacing: 1.4px;
			font-size: $paragraph;
			line-height: 1.6;
		}

		&__genre {
			letter-spacing: 1.2px;
			font-size: $paragraph;
			font-weight: 400;
			line-height: 1.6;
			width: 100%;
			display: flex;

			li {
				flex-wrap: wrap;
				background-color: rgba(#000000, 0.4);
				padding: 0.8rem 2rem;
				border-radius: 3rem;
			}
		}
	}

	&__button-close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 1.4rem;
		padding-bottom: 2px;
		border: none;
		color: white;
		font-weight: 700;
		width: 3rem;
		height: 3rem;
		border-radius: 4rem;
		background-color: $t-dark-color-1;
		z-index: 1;
		transition: all 0.3s ease;

		* {
			padding-top: 2px;
		}

		&:hover {
			cursor: pointer;
			background-color: $red-color;
		}
	}

	&__button-view-more {
		position: absolute;
		bottom: -2.3rem;
		left: 3rem;
		height: 4.6rem;
		width: 4.6rem;
		border-radius: 6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.4rem;
		background-color: $red-color;
		border: none;
		// background: none;
		color: white;
		z-index: 1;
	}
}

body.modal--open {
	// -webkit-filter: grayscale(100%);
	// -moz-filter: grayscale(100%);
	// filter: grayscale(100%);
	overflow: hidden;
}

.trailer-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-backdrop-filter: grayscale(1);
	backdrop-filter: grayscale(1);
	z-index: 100000;

	.trailer-container {
		width: 55%;
		height: 70%;
		padding-top: 3%;
		position: relative;
		// background-color: $dark-color;
		// padding-bottom: 56.25%;

		iframe {
			width: 100%;
			height: 100%;
		}

		button {
			position: absolute;
			top: 0;
			right: 0;
			// font-size: 3rem;
			padding-bottom: 1.5px;
			border: none;
			color: white;
			width: 3rem;
			height: 3rem;
			border-radius: 4rem;
			background-color: $t-dark-color-1;
			z-index: 1;
			transition: all 0.3s ease;

			* {
				padding-top: 2px;
			}

			&:hover {
				cursor: pointer;
				background-color: $red-color;
			}
		}
	}
}
