.scrollable {
	// width: 100% !important;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 5em;
		height: 100%;
		background-image: linear-gradient(to left, $dark-color, transparent);
	}
	&__list {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
		padding: 2rem $x-spacing;

		@include respond(tab-port) {
			// width < 900?
			padding: 2rem $m-x-spacing;
		}
		// overflow-y: scroll;

		@include modified-scrollbar;
	}
	&__title {
		font-size: 2.3rem;
		margin-left: 4rem;

		margin-top: 4rem;

		@include respond(tab-port) {
			// width < 900?
			margin-left: $m-x-spacing;
		}
	}

	&__item {
		margin-right: 2rem;
		max-width: 10rem;
		min-width: 10rem;

		&--credits {
			max-width: 138px;
			min-width: 138px;
		}

		&--related-movies {
			max-width: 150px;
			min-width: 150px;
		}
	}
}
