.search {
	height: 60vh;
	padding: 0 $x-spacing;

	@include respond(tab-port) {
		// width < 900?
		padding: 0 2rem;
	}

	form {
		width: 100%;
		margin: 0 auto;
		padding-top: 10rem;
	}

	&__form-group {
		position: relative;
		display: flex;
	}

	input {
		font-size: 2rem;
		display: block;
		border: 0;
		padding: 1.5rem 2rem;
		background: rgba($light-color, 0.166);
		border: 1px solid rgba(255, 255, 255, 0.158);
		width: 100%;
		color: rgb(230, 230, 230);
		border-radius: $border-rad;
	}

	input:focus {
		outline: none;
		// border-bottom: 2px solid blue;
	}

	&__button {
		position: absolute;
		right: 2rem;
		top: 1.5rem;
		background-color: transparent;
		border: none;
		color: white;
		font-size: 1.8rem;
		letter-spacing: 1.6px;
		font-weight: 400;

		cursor: pointer;
	}

	&__results {
		display: flex;
		margin-top: 2rem;
	}

	&__result {
		padding: 1rem;
		display: flex;
		background: $t-dark-color;
		border-radius: $border-rad;
		margin-right: 2rem;
	}

	&__load-more {
		text-align: center;
		margin: 2rem auto;
		button {
			padding: 1rem 2rem;
			font-size: 1.6rem;
			border: none;
			border-radius: $border-rad;
			cursor: pointer;
		}
	}
}
