.navbar {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 10rem;
	padding: 0 4rem;
	align-items: center;
	width: 100%;
	z-index: 1001;

	@include respond(tab-port) {
		// width < 900?
		padding: 0 2rem;
	}
	&__search {
		margin-left: auto;
		position: relative;
		margin-right: 1.5rem;
		input {
			padding: 1rem 1.5rem;
			background-color: $t-dark-color;

			// border: 1px solid rgb(145, 145, 145);
			border: none;
			border-radius: 4rem;
			color: $light-color;

			&:focus {
				outline: none;
			}

			&::placeholder {
				/* Chrome, Firefox, Opera, Safari 10.1+ */
				color: $light-color;
				opacity: 0.8; /* Firefox */
			}
		}

		button {
			position: absolute;
			top: 0.5rem;
			right: 1.5rem;
			background: none;
			border: none;
			color: $light-color;
		}

		@include respond(tab-port) {
			// width < 900?
			display: none;
		}
	}

	&__nav {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		width: 30%;
		background-color: rgba($dark-color, 0.99);
		z-index: 10000;
		align-items: center;

		@include respond(tab-port) {
			// width < 900?
			width: 80%;
		}
	}

	&__list {
		text-transform: uppercase;
		width: 100%;
		margin-top: 10rem;
		// display: flex;
		// justify-content: center;
		// flex-direction: column;
		// align-items: center;
		// height: 100%;
	}

	&__item {
		// width: 100%
		// padding-left: 4rem;
		// margin-left: 4rem;
		text-align: left;
		margin-bottom: 2rem;
		padding-left: $x-spacing;
		letter-spacing: 1.6px;
	}

	&__brand {
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: 1.6px;

		a {
			text-decoration: none;
			color: white;
		}
	}

	// &__list {
	// 	display: flex;
	// }

	// &__item {
	// 	margin-left: 2rem;
	// }

	&__link {
		text-decoration: none;
		color: white;
		font-size: 2rem;
	}

	&__burger {
		height: 35px;
		width: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// padding: 0 1rem;
		z-index: 10001;

		* {
			height: 2px;
			background-color: white;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.493),
				0 15px 12px rgba(0, 0, 0, 0.22);
		}

		*:not(:last-child) {
			margin-bottom: 6px;
		}
	}
}

.user {
	background-color: #805be7;
	min-height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 2rem;
	color: white;
	font-weight: 500;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.384), 0 15px 12px rgba(0, 0, 0, 0.13);

	@include respond(tab-port) {
		// width < 900?
		margin-left: auto;
	}
}
